
<div class="container">

  <mat-card class="mat-elevation-z8">
    <mat-toolbar color="accent" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
      <div style="text-align: right;">
       Fresh Product Growers
      </div>
    </mat-toolbar>
    <br><br>
   
    <mat-card-content>
      <form [formGroup]="productForm" (ngSubmit)="onFormSubmit()">
        <table>
          <tr>
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input formControlName="ProductName" matTooltip="Enter Product Name" matInput placeholder="ProductName" autocomplete="off">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!productForm.get('ProductName').value && productForm.get('ProductName').touched"></span>
              </mat-error>
            </td>
           
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input formControlName="SupplierName" matTooltip="Enter Supplier Name" matInput placeholder="SupplierName" autocomplete="off">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!productForm.get('SupplierName').value && productForm.get('SupplierName').touched"></span>
              </mat-error>
            </td>
            <td class="tbl1">

              <td class="tbl1">
                <mat-form-field class="demo-full-width">
                  <input formControlName="Quantity" matTooltip="Enter Supplier Name" matInput placeholder="Quantity" autocomplete="off">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!productForm.get('Quantity').value && productForm.get('Quantity').touched"></span>
                </mat-error>
              </td>

              <td class="tbl1">
                <mat-form-field class="demo-full-width">
                  <input formControlName="Description" matTooltip="Enter Description" matInput placeholder="Description" autocomplete="off">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!productForm.get('Description').value && productForm.get('Description').touched"></span>
                </mat-error>
              </td>

              <td class="tbl1">
                <mat-form-field class="demo-full-width">
                  <input formControlName="Notes" matTooltip="Enter Supplier Name" matInput placeholder="Notes" autocomplete="off">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!productForm.get('Notes').value && productForm.get('Notes').touched"></span>
                </mat-error>
              </td>

          
           
          </tr>
          
          <tr>
            <td class="content-center">
              <button type="submit" mat-raised-button color="accent" matTooltip="Submit" [disabled]="!productForm.valid">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="reset" mat-raised-button color="accent" matTooltip="Reset" (click)="resetForm()">Reset</button>
            </td>
            <td>
              <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">
                {{massage}}
              </p>
            </td>
            
           
          </tr>
        </table>
        <br><br>



        <!--<mat-form-field>

        </mat-form-field>-->


        <div>

          <mat-table  [dataSource]="dataSource" matSort class="mat-elevation-z8" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <mat-header-cell  *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
              </mat-header-cell>
              <mat-cell  *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"></mat-checkbox>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ProductName">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> Product Name  </mat-header-cell>
              <mat-cell  *matCellDef="let product"> {{product.productName}}  </mat-cell>
            </ng-container>

            <ng-container matColumnDef="SupplierName">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> Supplier Name  </mat-header-cell>
              <mat-cell  *matCellDef="let product"> {{product.supplierName}} </mat-cell>
            </ng-container>
           
            <ng-container matColumnDef="Quantity">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> Quantity   </mat-header-cell>
              <mat-cell  *matCellDef="let product"> {{product.quantity}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Description">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> Description   </mat-header-cell>
              <mat-cell  *matCellDef="let product"> {{product.description}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Notes">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> Notes   </mat-header-cell>
              <mat-cell  *matCellDef="let product"> {{product.notes}} </mat-cell>
            </ng-container>

           

            <ng-container matColumnDef="Edit">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>

              <mat-cell  *matCellDef="let product">

                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" type="button" mat-raised-button color="accent" matTooltip="Edit" (click)="loadProductToEdit(product)"><mat-icon>edit</mat-icon></button>
              
              </mat-cell>
            </ng-container>
         

            <ng-container matColumnDef="Delete">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
              <mat-cell  *matCellDef="let product"> <button mat-icon-button aria-label="Example icon button with a delete icon" type="button" mat-raised-button color="accent" matTooltip="Delete" (click)="deleteProduct(product)"><mat-icon>delete_forever</mat-icon></button></mat-cell>
            </ng-container>


            <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row  *matRowDef="let row; columns: displayedColumns;" ></mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

       
      </form>
     <table>
      <tr>
        <td  [width]="600"></td>
        <td class="content-center">
         
          <a routerLink="/orders" mat-raised-button color="accent"    >Show Orders</a>
          
        </td>
      </tr>
     </table>
     
    </mat-card-content>
  </mat-card>
</div>
