
<div class="container">

  <mat-card class="mat-elevation-z8">
    <mat-toolbar color="accent" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
      <div style="text-align: right;">
       Orders
      </div>
    </mat-toolbar>
    <br><br>
    <mat-card-content>
      <form >
       


        <div>

          <mat-table  [dataSource]="dataSource" matSort class="mat-elevation-z8" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">

         
            <ng-container matColumnDef="OrderId">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> OrderId  </mat-header-cell>
              <mat-cell  *matCellDef="let order"> {{order.orderId}}  </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Quantity">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> Quantity  </mat-header-cell>
              <mat-cell  *matCellDef="let order"> {{order.quantity}}  </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Price">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> Price  </mat-header-cell>
              <mat-cell  *matCellDef="let order"> {{order.price}}  </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ProductName">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> Product Name  </mat-header-cell>
              <mat-cell  *matCellDef="let order"> {{order.productName}}  </mat-cell>
            </ng-container>

            <ng-container matColumnDef="OrderDate">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> Order Date  </mat-header-cell>
              <mat-cell  *matCellDef="let order"> {{order.orderDate}}  </mat-cell>
            </ng-container>


            <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

       
      </form>
    </mat-card-content>
  </mat-card>
</div>
